* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-purple: #5e32ba;
    --main-orange: #eb6123;
    --main-black: #18181a;
    --main-green: #96c457;
    --deep-blue: #1c2a35;
    --secondary-blue: #006b75;
    --light-blue: #00cbdc;
}

.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0.2rem solid;
}