.hide {
    display: none;
}

.question-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: .5rem;
    min-width: 70%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0.2rem solid;
    background: rgba(94, 50, 186, 0.7);
    border-radius: 3rem;
}

.question-box {
    max-width: 95%;
    margin-top: 1.5rem;
    background: var(--main-orange);
    padding: 2rem;
    border-radius: 2rem;
    color: var(--main-black);
}

.question-box h2 {
    font-size: 1.6rem;
    text-align: center;
}

#answer-box {
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

#answer-box button {
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    background: var(--main-black);
    color: var(--main-orange);
    transition: .5s ease;
}

#answer-box button:hover {
    scale: 1.05;
    box-shadow: 0 0 1rem var(--main-orange);
}

.submit-box {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.submit-box p {
    color: var(--main-orange);
    font-size: 1.4rem;
    font-weight: 600;
}

.submit-btn {
    background: var(--main-orange);
    color: var(--main-black);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 0 0 1rem var(--main-black);
    transition: .5s ease;
}

.submit-box .submit-btn:hover {
    box-shadow: none;
}

@media screen and (max-width:640px) {
    .submit-box {
        display: flex;
        flex-direction: column;
    }

    .answer-box {
        margin-top: .5rem;
    }

    .submit-box p {
        text-align: center;
    }
}

@media screen and (max-width:500px) {
    .question-box {
        padding: .4rem;
    }

    .question-box h2 {
        font-size: 1.2rem;
    }

    .answer-box button {
        font-size: 1.1rem;
        padding: .7rem;
    }

    .submit-box p {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:380px) {
    .question-box {
        margin-top: .5rem;
        padding: .2;
    }

    .question-box h2 {
        font-size: 1rem;
    }

    .submit-box p,
    .submit-box button {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
}

@media screen and (max-width:280px) {

    .question-box p,
    .answer-box button {
        font-size: .8rem;
    }
}