/* General */

body {
    /* Remove default margins and padding */
    padding: 0;
    margin: 0;
}


/* Landing Page */


/* Game */

#game-outer {
    height: 100vh;
    background-color: black;
}

#game-container {
    display: grid;
}

.grid-cell {
    width: calc(100% - 2px);
    aspect-ratio: 1/1;
    border: 1px solid black;
}

#floor {
    width: 100%;
    background-image: url('../images/game/floor.png');
    background-repeat: repeat-x;
}