@import url('https://fonts.googleapis.com/css2?family=Borel&family=Playpen+Sans:wght@400;600;800&family=Poppins:wght@400;500&family=Roboto&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Metal+Mania&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

.clickable:hover {
    cursor: pointer;
}


body {
    font-family: 'Playpen Sans', cursive;
}

:root {
    --main-purple: #5e32ba;
    --main-orange: #eb6123;
    --main-black: #18181a;
    --main-green: #96c457;
    --deep-blue: #1c2a35;
    --secondary-blue: #006b75;
    --light-blue: #00cbdc;
}

/* Landing Page */

/* Mansion image */
.home-image {
    background: url(../images/walkway.jpg)no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/* Styling for the welcome message and story */
.container {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 250px;
    margin-bottom: 350px;
    font-family: playpen;
    letter-spacing: 1px;
}

/* Welcome to styling */
.container h1 {
    font-family: Metal Mania;
    letter-spacing: 6px;
}

/* Scroll down arrow icon styling */
.scroll-down-arrow i {
    font-size: 24px;
    animation: bounce 2s infinite;
}

/* Scroll down arrow animation */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(10px);
    }

    60% {
        transform: translateY(5px);
    }
}

/* Image for the house div */
.house {
    position: relative;
    width: 100%;
    height: 1500px;
    background: url(../images/mansion.png) no-repeat center center;
    background-size: cover;
    z-index: 100;
}

/* Dare to enter quote */
.quote {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-family: Metal Mania;
    letter-spacing: 6px;
}

/* Overall modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(94, 50, 186, 0.2);
    font-size: 1.3rem;
    border-radius: 3rem;
}

/* Content for modal */
.modal-content {
    background-color: rgba(94, 50, 186, 0.98) !important;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid black;
    max-width: 75% !important;
    max-height: 80vh;
    /* Limiting the height of the modal content */
    overflow-y: auto;
    /* Adding vertical scroll when content exceeds the height */
}

/* Modal close button */
.close {
    color: #eb6123 !important;
    cursor: pointer;
}

/* Game rules header */
.game-rules {
    text-align: center;
    font-size: 2.2rem;
    background-color: #eb6123;
    color: black;
    border-radius: 10px;
    width: 55%;
    margin: 5px auto;
    padding: 5px;
    font-family: Metal Mania;
    letter-spacing: 6px;
}

/* Modal list items */
.modal-content li {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: 5px auto;
    max-height: 80%;
    font-family: playpen;
    letter-spacing: 1px;
}


/* Modal Open button */
#openModalBtn {
    color: #eb6123;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    height: 75px;
    width: 100%;
    background-color: black;
    font-family: Metal Mania;
    letter-spacing: 6px;
}

/* Start Quiz Button */
#startQuizBtn {
    color: black;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #eb6123;
    width: 55%;
    margin: 5px auto;
    font-family: Metal Mania;
    letter-spacing: 6px;
}

/* Game */

#game-outer {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-grid {
    display: grid;
    position: relative;
}

/* Floors */

.floor {
    width: 100%;
    background-image: url('../images/game/floor.png');
    background-repeat: repeat-x;
}

#floor-1, #floor-2 {
    display: none;
    position: absolute;
}

/* Doors */

.door {
    display: inline-block;
    background-size: cover;
    grid-row-start: 6;
    grid-row-end: 8;
    z-index: 1;
}

#door-1 {
    grid-column-start: 4;
    grid-column-end: 6;
}

#door-2 {
    grid-column-start: 8;
    grid-column-end: 10;
}

#door-3 {
    grid-column-start: 12;
    grid-column-end: 14;
}

.door-easy {
    background-image: url('../images/game/doors/door-easy.png');
}

.door-medium {
    background-image: url('../images/game/doors/door-medium.png');
}

.door-hard {
    background-image: url('../images/game/doors/door-hard.png');
}

.door-puzzle {
    background-image: url('../images/game/doors/door-puzzle.png');
}

.barricade {
    width: 100%;
    height: 100%;
    background-image: url('../images/game/doors/door-boards.png');
    background-size: cover;
}

.prop {
    background-size: cover;
    z-index: 1;
}

/* Individual prop positions. Works off a 16x7 grid */

/* Wall and floor props will have different y coordinates */
.prop-wall {
    grid-row-start: 4;
    grid-row-end: 6;
}

.prop-floor {
    grid-row-start: 6;
    grid-row-end: 8;
}

/* The horizontal position of the prop */
.prop-left {
    grid-column-start: 2;
    grid-column-end: 4;
}

.prop-mid-left {
    grid-column-start: 6;
    grid-column-end: 8;
}

.prop-mid {
    grid-column-start: 8;
    grid-column-end: 10;
}

.prop-mid-right {
    grid-column-start: 10;
    grid-column-end: 12;
}

.prop-right {
    grid-column-start: 14;
    grid-column-end: 16;
}

/* Quizes/Puzzles */

/* Overlay that covers the entire screen */
#room-overlay {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.puzzle {
    display: none;
}

#puzzle-panels {
    width: 80%;
    display: none;
    flex-direction: row;
    justify-content: center;
}

.panel-board {
    width: 45%;
    aspect-ratio: 1/1;
    display: grid;
}

.panel {
    margin: 3%;
    background-size: cover;
    aspect-ratio: 1/1;
}

.panel-light {
    background-image: url('../images/game/panels/panel-light.png');
}

.panel-dark {
    background-image: url('../images/game/panels/panel-dark.png');
}

.arrow-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.arrow-panel>div {
    background-image: url('../images/game/arrow-right.png');
    background-size: cover;
    width: 100%;
    aspect-ratio: 1/1;
}


/* Media Queries */

/* Media query for large screen widths */
@media screen and (max-width: 1200px) {

    /* Doors */

    #door-1 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    #door-2 {
        grid-column-start: 7;
        grid-column-end: 9;
    }

    #door-3 {
        grid-column-start: 11;
        grid-column-end: 13;
    }

    /* Props */
    .prop-left {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .prop-mid-left {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .prop-mid {
        grid-column-start: 7;
        grid-column-end: 9;
    }

    .prop-mid-right {
        grid-column-start: 9;
        grid-column-end: 11;
    }

    .prop-right {
        grid-column-start: 13;
        grid-column-end: 15;
    }
}

/* Media query for medium screen widths (the grid will change to 8x12) */
@media screen and (max-width: 600px) {
    #game-grid>.door {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    #door-1 {
        grid-row-start: 3;
        grid-row-end: 5;
    }

    #door-2 {
        grid-row-start: 7;
        grid-row-end: 9;
    }

    #door-3 {
        grid-row-start: 11;
        grid-row-end: 13;
    }

    #floor-1, #floor-2 {
        display: inline-block;
        width: 100%;
    }

    /* The extra ribbon wallpapers for mobile will exist in the floor elements */
    .wallpaper-mobile {
        background-image: url('../images/game/wallpapers/wallpaper-ribbon.png');
        position: relative;
    }

    /* Wall Props */
    .prop-wall.prop-left {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .prop-wall.prop-mid-left {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .prop-wall.prop-mid {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .prop-wall.prop-mid-right {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    .prop-wall.prop-right {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 11;
    }

    /* Floor Props */
    .prop-floor.prop-left {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .prop-floor.prop-mid-left {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 9;
    }

    .prop-floor.prop-mid-right {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 9;
    }

    .prop-floor.prop-right {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 11;
        grid-row-end: 13;
    }

    /* Puzzles */

    #puzzle-panels {
        flex-direction: column-reverse;
        align-items: center;
        column-gap: 32px;
    }
    
    .panel-board {
        width: 60%;
    }

    .arrow-panel {
        width: 100%;
        height: 10vw;
    }
    
    .arrow-panel>div {
        background-image: url('../images/game/arrow-up.png');
        width: auto;
        height: 100%;
        aspect-ratio: 1/1;
    }
}

/* Media query for small screen widths (the grid will change to 6x12) */
@media screen and (max-width: 400px) {
    #game-grid>.door {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    /* Props */
    .prop-wall.prop-mid-left,
    .prop-wall.prop-mid,
    .prop-floor.prop-mid-right,
    .prop-floor.prop-right {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .prop-wall.prop-right {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    .prop-floor.prop-mid-left {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* Panel puzzle */

    .panel-board {
        width: 80%;
    }

    .arrow-panel {
        height: 20vw;
    }
}

/* end of game winning / losing page */

.end-page-show {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: url(../images/game/creepy-girl-doll.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation: end-grow 5s forwards;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

@keyframes end-grow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.end-text-show {
    width: 50vw;
    border-radius: 50px;
    background-color: #eb6123;
    font-size: 3em;
    text-align: center;
    z-index: 1;
    margin-left: 25vw;
    margin-top: 20vh;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    animation: end-grow-text 2s forwards;
}

@keyframes end-grow-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

#end-text {
    height: 50vh;
    width: 50%;
    color: #18181a;
    font-size: 4em;
    text-align: center;
    margin: auto;
}

#end-game-restart {
    width: 25vw;
    border-radius: 50px;
    background-color: #eb6123;
    font-size: 3em;
    z-index: 1;
    margin-left: 37.5vw;
    margin-top: 70vh;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    animation: end-grow-text 2s forwards;
}

#end-game-restart:hover {
    background-color: #5e32ba;
}

/* Media Queries */

/* For screens smaller than 1024px */
@media (max-width: 1024px) {
  
    .end-text-show, #end-game-restart {
        font-size: 2em;
    }
}

/* For screens smaller than 700px */
@media (max-width: 700px) {

    .end-text-show {
        width: 70vw;
        margin-left: 15vw;
    }

    #end-game-restart {
        width: 50vw;
        margin-left: 25vw;
    }
}

/* For screens smaller than 470px */
@media (max-width: 470px) {

    .end-text-show, #end-game-restart {
        font-size: 1.5em;
    }
}

/* matching pairs game */

#puzzle-pairs {
    background: #5e32ba;
    height: auto;
    flex-direction: column;
    justify-content: start;
    position: relative;
    font-family: 'playfair display', cursive;
}

/* main page */
#title {
    font-family: 'laila', sans-serif;
    font-size: 5em;
    color: black;
    text-align: center;
}

/* card playing area */
#game-container-outer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 50vh;
    background: #eb6123;
    border-radius: 25px;
    margin: 2vh auto;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 10vh);
    grid-template-rows: repeat(4, 10vh);
    grid-gap: 2vh;
    margin-top: 2vh;
    perspective: 600px;
}

.card {
    border: 2px solid #18181a;
    border-radius: 10px;
    position: relative;
    background: #96c457;
    color: #18181a;
    font-size: 6vh;
    padding: 25% 0;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.cardBack,
.cardFront {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    /* To disable click on the child div and image of card div */
    pointer-events: none;
}

.cardBack {
    background: #96c457;
    backface-visibility: hidden;
    text-align: center;
}

.cardFront {
    background: white;
    opacity: 1;
}

.toggleCard {
    transform: rotateY(180deg);
    animation: font-fade 1s forwards;
}

@keyframes font-fade {
    25% {
        color: rgb(77, 59, 50, 0.1);
    }

    100% {
        color: rgb(77, 59, 50, 0);
    }
}

.flipCard {
    pointer-events: none;
}

/* animation so the card images wiggle when the user has matched them all */
.won-game-cards {
    animation: wiggle 1s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* media queries */

/* for screens less than 840px */
@media (max-width: 840px) {

    #title {
        font-size: 4em;
    }
}

/* for screens less than 600px */
@media (max-width: 600px) {

    #title {
        font-size: 3em;
    }

    #game-container-outer {
        height: 39.5vh;
        width: 39.5vh;
    }

    #game-container {
        grid-template-columns: repeat(4, 8vh);
        grid-template-rows: repeat(4, 8vh);
        grid-gap: 1.5vh;
        margin: 1.5vh;
    }

    .card {
        font-size: 6vh;
    }

}

/* for screens less than 355px */
@media (max-width: 355px) {

    #title {
        font-size: 2em;
    }

    #game-container-outer {
        height: 29vh;
        width: 29vh;
    }

    #game-container {
        grid-template-columns: repeat(4, 6vh);
        grid-template-rows: repeat(4, 6vh);
        grid-gap: 1vh;
        margin: 1vh;
    }

    .card {
        font-size: 4vh;
    }
}

#time-div {
    text-align: center;
    margin: 1vh 5vw;
}

#time-div h2 {
    font-size: 4em;
    color: #18181a;
}