@import url('https://fonts.googleapis.com/css2?family=Borel&family=Playpen+Sans:wght@400;600;800&family=Poppins:wght@400;500&family=Roboto&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

.clickable:hover {
    cursor: pointer;
}


body {
    font-family: 'Playpen Sans', cursive;
}

:root {
    --main-purple: #5e32ba;
    --main-orange: #eb6123;
    --main-black: #18181a;
    --main-green: #96c457;
    --deep-blue: #1c2a35;
    --secondary-blue: #006b75;
    --light-blue: #00cbdc;
}

/* Landing Page */

/* Game */

#game-outer {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-grid {
    display: grid;
    position: relative;
}

/* Floors */

.floor {
    width: 100%;
    background-image: url('../images/game/floor.png');
    background-repeat: repeat-x;
}

#floor-1, #floor-2 {
    display: none;
    position: absolute;
}

/* Doors */

.door {
    display: inline-block;
    background-size: cover;
    grid-row-start: 6;
    grid-row-end: 8;
    z-index: 1;
}

#door-1 {
    grid-column-start: 4;
    grid-column-end: 6;
}

#door-2 {
    grid-column-start: 8;
    grid-column-end: 10;
}

#door-3 {
    grid-column-start: 12;
    grid-column-end: 14;
}

.door-easy {
    background-image: url('../images/game/doors/door-easy.png');
}

.door-medium {
    background-image: url('../images/game/doors/door-medium.png');
}

.door-hard {
    background-image: url('../images/game/doors/door-hard.png');
}

.door-puzzle {
    background-image: url('../images/game/doors/door-puzzle.png');
}

.barricade {
    width: 100%;
    height: 100%;
    background-image: url('../images/game/doors/door-boards.png');
    background-size: cover;
}

.prop {
    background-size: cover;
    z-index: 1;
}

/* Individual prop positions. Works off a 16x7 grid */

/* Wall and floor props will have different y coordinates */
.prop-wall {
    grid-row-start: 4;
    grid-row-end: 6;
}

.prop-floor {
    grid-row-start: 6;
    grid-row-end: 8;
}

/* The horizontal position of the prop */
.prop-left {
    grid-column-start: 2;
    grid-column-end: 4;
}

.prop-mid-left {
    grid-column-start: 6;
    grid-column-end: 8;
}

.prop-mid {
    grid-column-start: 8;
    grid-column-end: 10;
}

.prop-mid-right {
    grid-column-start: 10;
    grid-column-end: 12;
}

.prop-right {
    grid-column-start: 14;
    grid-column-end: 16;
}

/* Puzzles */

/* Overlay that covers the entire screen */
#puzzle-overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}


/* Media Queries */

/* Media query for large screen widths */
@media screen and (max-width: 1200px) {

    /* Doors */

    #door-1 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    #door-2 {
        grid-column-start: 7;
        grid-column-end: 9;
    }

    #door-3 {
        grid-column-start: 11;
        grid-column-end: 13;
    }

    /* Props */
    .prop-left {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .prop-mid-left {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .prop-mid {
        grid-column-start: 7;
        grid-column-end: 9;
    }

    .prop-mid-right {
        grid-column-start: 9;
        grid-column-end: 11;
    }

    .prop-right {
        grid-column-start: 13;
        grid-column-end: 15;
    }
}

/* Media query for medium screen widths (the grid will change to 8x12) */
@media screen and (max-width: 600px) {
    #game-grid>.door {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    #door-1 {
        grid-row-start: 3;
        grid-row-end: 5;
    }

    #door-2 {
        grid-row-start: 7;
        grid-row-end: 9;
    }

    #door-3 {
        grid-row-start: 11;
        grid-row-end: 13;
    }

    #floor-1, #floor-2 {
        display: inline-block;
        width: 100%;
    }

    /* The extra ribbon wallpapers for mobile will exist in the floor elements */
    .wallpaper-mobile {
        background-image: url('../images/game/wallpapers/wallpaper-ribbon.png');
        position: relative;
    }

    /* Wall Props */
    .prop-wall.prop-left {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .prop-wall.prop-mid-left {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .prop-wall.prop-mid {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .prop-wall.prop-mid-right {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    .prop-wall.prop-right {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 11;
    }

    /* Floor Props */
    .prop-floor.prop-left {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .prop-floor.prop-mid-left {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 9;
    }

    .prop-floor.prop-mid-right {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 9;
    }

    .prop-floor.prop-right {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 11;
        grid-row-end: 13;
    }
}

/* Media query for small screen widths (the grid will change to 6x12) */
@media screen and (max-width: 400px) {
    #game-grid>.door {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    /* Props */
    .prop-wall.prop-mid-left,
    .prop-wall.prop-mid,
    .prop-floor.prop-mid-right,
    .prop-floor.prop-right {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .prop-wall.prop-right {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    .prop-floor.prop-mid-left {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}